<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<div>
   <form method="post">
    <input type="text" name="name" placeholder="Enter Name">
       <input type="text" name="password" placeholder="Enter Password">
    <button type="submit">LOGIN</button>
</form>
</div>


    {% if exist == True %}

    <h1>Login in Successfully</h1>

    <form method="get" action="/content">
    </form>

    {% endif %}

    {% if exist == False %}

    <h1>User doesn't exist</h1>

    {% endif %}
</body>
</html>