<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Covid App</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"><!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script><!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<body>

<div class="col-md-6 col-md-offset-3">
<h1 style="background-color:powderblue;">Covid Report w.r.t Country</h1>
<form method="post" action="/">
    <input type="text" name="country" placeholder="Enter Country Name">
    <button type="submit">SEARCH</button>
</form>
</div>

<div class="col-md-6 col-md-offset-3">
    {% if covidinfo %}
    <h3 style="background-color:tomato;">|||| COVID DATA |||| </h3>
    <h3 style="color:red;">Total Confirmed Case = {{covidinfo.TotalConfirmed}}</h3>
    <h3 style ="color:orange;">Total Deaths = {{covidinfo.TotalDeaths}}</h3>
    <h3 style="background-color:tomato;">|||| INFORMATION DISPLAYED |||| </h3>
    {% else %}
    <h3>Enter input properly for data retrival</h3>
    {% endif %}
</div>

</body>
</html>